// Color variables

$main-color: #f54b5e;
$secondary-color: #6394f8;

$c-primary-accent: #dd8346;
$c-secondary-accent: #ff6b48;


// Media Query breakpoints 

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;
